body{
    font-family: sans-serif;
}

header{
    background: #000;
    color: #fff;
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    padding: 10px 10px;
    margin-bottom: 10px;
    
}

input{
    width : 95%;
}

button{
    background-color: #3f3f3f;
    color: #aaa;
    border:none;
    height: 40px;
    width: 65px;
    border-radius: 5px;
    margin: 5px;
    
}

.kat-image{
    width: 100%;
}

.counter{
    display:in-line;
    margin: 10px 10px;
}

.selected{
    background-color: #ccc;
}

/*List Styles*/
ul{
  list-style : none;
  height : 700px;
  overflow : scroll;
}

ul li{
    height : 100px;
    width : 300px;
    margin : 10px 0px;
}

.list-container p{
    float: left;
    line-height: 100%;
    margin-left: 20px;
    padding: 25px 0px;

}

.list-thumbnail-container{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    float: left;
}

.list-thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    width: 160px; /* adjust to your pleasure */

}

/*Administration Styles*/
#admin-panel{
    display: none;
}

/*Alignment Classes*/
.center{
    text-align : center;
}

.left{
    float : left;
}

.right{
    float : right;
}